<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.closetfrontend">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name=".InitKakaoSdk"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CloseTFrontEnd"
        tools:targetApi="31">
        <activity
            android:name=".ChatOotdActivity"
            android:exported="false" />
        <activity
            android:name=".WishActivity"
            android:exported="false" />
        <activity
            android:name=".LikeActivity"
            android:exported="false" />
        <activity
            android:name=".AddClothesActivity"
            android:exported="false" />
        <activity
            android:name=".AddPhotoActivity"
            android:exported="false" />
        <activity
            android:name=".LookBookDetailViewActivity"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".TrashActivity"
            android:exported="false" />
        <activity
            android:name=".AfterLoginActivity"
            android:exported="false" />
        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="oauth"
                    android:scheme="kakao3b702648604a0823ed034de028a00406" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EnterProfile"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="3b702648604a0823ed034de028a00406" />
        </activity>
    </application>

</manifest>